.header-main{
  text-align: center;
  font-style: oblique;
}
.map-page{
  height : 600px;
  width : 600px;
}

.distance, .time{
  padding-top: 10px;
  font-size: inherit;
  font-weight: bold;
  font-style: oblique;
}

.search-location-history{
  font-size: large;
  text-align: center;
  font-style: oblique;
  background-color: lightblue;
}

.distance-duration, .distance-miles{
color: red !important;
font-weight: bold !important;
}

.ant-input{
  width: 50% !important;
}

/*
.ant-row{
    left: 100px;
    top: 110px;
    position: relative;
} */